In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
missing_values=["NaN", "NA", "<null>"]
df=pd.read_csv("pima_Missing_values.csv", na_values=missing_values)

In [3]:
df

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10.0,108.0,66.0,NaN,0.0,32.4,0.272,42.0,tested_positive
1,7.0,107.0,74.0,0.0,0.0,29.6,0.254,31.0,tested_positive
2,0.0,179.0,90.0,27.0,NaN,NaN,0.686,23.0,tested_positive
3,10.0,125.0,70.0,26.0,NaN,31.1,0.205,41.0,tested_positive
4,10.0,NaN,NaN,0.0,0.0,38.0,0.537,34.0,tested_positive
...,...,...,...,...,...,...,...,...,...
685,2.0,NaN,78.0,50.0,140.0,NaN,NaN,24.0,tested_negative
686,1.0,107.0,68.0,19.0,0.0,26.5,0.165,24.0,tested_negative
687,2.0,98.0,60.0,17.0,120.0,34.7,0.198,22.0,tested_negative
688,4.0,122.0,68.0,0.0,0.0,35.0,NaN,29.0,tested_negative
689,4.0,145.0,82.0,18.0,0.0,32.5,0.235,70.0,tested_positive

In [4]:
df.isnull()

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,True,False,False,False
3,False,False,False,False,True,False,False,False,False
4,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
685,False,True,False,False,False,True,True,False,False
686,False,False,False,False,False,False,False,False,False
687,False,False,False,False,False,False,False,False,False
688,False,False,False,False,False,False,True,False,False
689,False,False,False,False,False,False,False,False,False

In [5]:
# count of missing values in each column.

count = df.isnull().sum()
count

NoOfPregency         66
PlasmaGlucoseCon     69
BloodPressure        78
SkinFoldThickness    65
Insuline             72
BMI                  66
DiabetesPedigree     75
Age                  61
Class                 0
dtype: int64

In [6]:
# percentage of missing values in each column.

count/len(df) * 100

NoOfPregency          9.565217
PlasmaGlucoseCon     10.000000
BloodPressure        11.304348
SkinFoldThickness     9.420290
Insuline             10.434783
BMI                   9.565217
DiabetesPedigree     10.869565
Age                   8.840580
Class                 0.000000
dtype: float64

In [7]:
# removing all columns with more than 10.5% missing values.
# threshold (thresh) takes value of number of non-NA values. So we require 89.5%
# non-NA values. Hence thresh=89.5%.
# So 2 columns will be dropped, i.e. bloodpressure & diabetespedigree.

limitper=0.895*len(df)
df1=df.dropna(axis=1, thresh=limitper)
df1

,NoOfPregency,PlasmaGlucoseCon,SkinFoldThickness,Insuline,BMI,Age,Class
0,10.0,108.0,NaN,0.0,32.4,42.0,tested_positive
1,7.0,107.0,0.0,0.0,29.6,31.0,tested_positive
2,0.0,179.0,27.0,NaN,NaN,23.0,tested_positive
3,10.0,125.0,26.0,NaN,31.1,41.0,tested_positive
4,10.0,NaN,0.0,0.0,38.0,34.0,tested_positive
...,...,...,...,...,...,...,...
685,2.0,NaN,50.0,140.0,NaN,24.0,tested_negative
686,1.0,107.0,19.0,0.0,26.5,24.0,tested_negative
687,2.0,98.0,17.0,120.0,34.7,22.0,tested_negative
688,4.0,122.0,0.0,0.0,35.0,29.0,tested_negative
689,4.0,145.0,18.0,0.0,32.5,70.0,tested_positive

In [8]:
# removing all rows having missing values.

df2=df.dropna(axis=0)
df2

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
1,7.0,107.0,74.0,0.0,0.0,29.6,0.254,31.0,tested_positive
10,6.0,125.0,76.0,0.0,0.0,33.8,0.121,54.0,tested_positive
12,1.0,149.0,68.0,29.0,127.0,29.3,0.349,42.0,tested_positive
15,5.0,112.0,66.0,0.0,0.0,37.8,0.261,41.0,tested_positive
17,0.0,105.0,84.0,0.0,0.0,27.9,0.741,62.0,tested_positive
...,...,...,...,...,...,...,...,...,...
675,1.0,89.0,24.0,19.0,25.0,27.8,0.559,21.0,tested_negative
679,3.0,130.0,64.0,0.0,0.0,23.1,0.314,22.0,tested_negative
686,1.0,107.0,68.0,19.0,0.0,26.5,0.165,24.0,tested_negative
687,2.0,98.0,60.0,17.0,120.0,34.7,0.198,22.0,tested_negative
689,4.0,145.0,82.0,18.0,0.0,32.5,0.235,70.0,tested_positive

In [9]:
# adding random values in each column between their range.
df3=df.copy()

for column in df3.columns[:-2]:
    df3[column]=df3[column].fillna(random.uniform(df3[column].min(), df3[column].max()))
    
df3

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10.0,108.000000,66.000000,59.289723,0.000000,32.400000,0.272000,42.0,tested_positive
1,7.0,107.000000,74.000000,0.000000,0.000000,29.600000,0.254000,31.0,tested_positive
2,0.0,179.000000,90.000000,27.000000,617.327895,44.480401,0.686000,23.0,tested_positive
3,10.0,125.000000,70.000000,26.000000,617.327895,31.100000,0.205000,41.0,tested_positive
4,10.0,190.380507,15.667011,0.000000,0.000000,38.000000,0.537000,34.0,tested_positive
...,...,...,...,...,...,...,...,...,...
685,2.0,190.380507,78.000000,50.000000,140.000000,44.480401,1.813927,24.0,tested_negative
686,1.0,107.000000,68.000000,19.000000,0.000000,26.500000,0.165000,24.0,tested_negative
687,2.0,98.000000,60.000000,17.000000,120.000000,34.700000,0.198000,22.0,tested_negative
688,4.0,122.000000,68.000000,0.000000,0.000000,35.000000,1.813927,29.0,tested_negative
689,4.0,145.000000,82.000000,18.000000,0.000000,32.500000,0.235000,70.0,tested_positive

In [10]:
# filling each missing value in column with its mean value.

df4 = df.copy()

for column in df4.columns[:-2]:
    df4[column]=df4[column].fillna(df4[column].mean())
    
df4

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10.0,108.000000,66.000000,20.3392,0.00000,32.400000,0.272000,42.0,tested_positive
1,7.0,107.000000,74.000000,0.0000,0.00000,29.600000,0.254000,31.0,tested_positive
2,0.0,179.000000,90.000000,27.0000,83.70712,31.887981,0.686000,23.0,tested_positive
3,10.0,125.000000,70.000000,26.0000,83.70712,31.100000,0.205000,41.0,tested_positive
4,10.0,120.586151,68.841503,0.0000,0.00000,38.000000,0.537000,34.0,tested_positive
...,...,...,...,...,...,...,...,...,...
685,2.0,120.586151,78.000000,50.0000,140.00000,31.887981,0.468171,24.0,tested_negative
686,1.0,107.000000,68.000000,19.0000,0.00000,26.500000,0.165000,24.0,tested_negative
687,2.0,98.000000,60.000000,17.0000,120.00000,34.700000,0.198000,22.0,tested_negative
688,4.0,122.000000,68.000000,0.0000,0.00000,35.000000,0.468171,29.0,tested_negative
689,4.0,145.000000,82.000000,18.0000,0.00000,32.500000,0.235000,70.0,tested_positive

In [11]:
# Interpolation is the process of finding a value between two points 
# on a line or curve. It is mostly used to predict the unknown values 
# for any geographical related data points.

df5 = df.copy()

df5=df.interpolate(method="linear")
df5

,NoOfPregency,PlasmaGlucoseCon,BloodPressure,SkinFoldThickness,Insuline,BMI,DiabetesPedigree,Age,Class
0,10.0,108.0,66.0,NaN,0.0,32.40,0.2720,42.0,tested_positive
1,7.0,107.0,74.0,0.0,0.0,29.60,0.2540,31.0,tested_positive
2,0.0,179.0,90.0,27.0,0.0,30.35,0.6860,23.0,tested_positive
3,10.0,125.0,70.0,26.0,0.0,31.10,0.2050,41.0,tested_positive
4,10.0,143.5,87.0,0.0,0.0,38.00,0.5370,34.0,tested_positive
...,...,...,...,...,...,...,...,...,...
685,2.0,95.0,78.0,50.0,140.0,31.65,0.3970,24.0,tested_negative
686,1.0,107.0,68.0,19.0,0.0,26.50,0.1650,24.0,tested_negative
687,2.0,98.0,60.0,17.0,120.0,34.70,0.1980,22.0,tested_negative
688,4.0,122.0,68.0,0.0,0.0,35.00,0.2165,29.0,tested_negative
689,4.0,145.0,82.0,18.0,0.0,32.50,0.2350,70.0,tested_positive